<!-- <panel>
    <div class="header">
        <h1>test</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione hic vel repudiandae suscipit, perspiciatis eius pariatur, veritatis tempore voluptas, nobis explicabo fugit autem. A at sint commodi eum, sapiente non?</p>
    </div>
    <div class="body">body</div>
    
</panel>        
 -->

<!-- <div class="container">
        <div class="row">
            
                     <h1>test</h1>
                    <cours [is-star] = "cours.isFavorite" (btata)="isFavoriteChanged($event)"></cours>
    
            
        </div>
    </div> -->
 
    <navbar></navbar>
    <div class="container">
        <div class="col-md-6 offset-3">
            
            <!-- <contact-form></contact-form> -->
           <!--  <signup-form></signup-form> -->
          <!--  <posts></posts> -->
          <!-- <git-hub-followers></git-hub-followers> -->
          
          <router-outlet></router-outlet>
        
        </div>
    </div>
    

